# OS
.DS_Store
Thumbs.db
#Python
__pycache__/
*.pyc
.env
venev/
*.log
# IDE
.vscode/
.idea/
# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfplan
# Docker
*.tar
*.zip
# AWS
aws/
awscliv2.zip
kubectl
setup.sh
